.container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ico-heart{
    fill: var(--red);
    width: 60px;
    height: 60px;

    animation: heart 1.2s infinite linear;
}

.ico-error{
    width: 60px;
}

@keyframes heart {
    0%{
        transform: scale(0.95);
    }

    30%{
        transform: scale(0.65);
    }

    100%{
        transform: scale(1.1);
    }
}